
*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

p{
    margin-bottom: 0 !important;
}

.dark{
    background-color: black;
}

.white{
    background-color: white;
}


.container{
    width: 100%;
    max-width: 1360px;
    margin: 0px auto
}

.btn-noborder{
    border: 0;
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-orange{
    border: 0;
    color: white;
    background-color: #fc8019;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.img-res{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

.offline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cartbtn{
    max-width: fit-content;
    width: 100%;
    background-color: white;
    color: #fc8019;
    padding:10px;
    margin-left: 5px;
}