.restaurantCard {
  padding: 10px;
  width: 100%;
  max-width: 225px;
  margin-bottom: 4%;
  border: 0.5px solid grey;
  box-shadow: 2px 2px 4px grey;
}

.shimmer {
  background-color: lightgray;
  width: 100%;
  width: 225px;
  height: 250px;
  margin-bottom: 4%;
  border: 0.5px solid grey;
  box-shadow: 2px 2px 4px grey;
}

.restaurantCard .imgholder {
  height: 200px;
  overflow: hidden;
}
.restaurantCard img {
  width: 100%;
  height: 178px;
  object-fit: cover;
}
.restaurantCard .content {
  margin: 10px;
}

.restaurantCard .title {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 4px;
  font-style: italic;
  font-size: 15px;
}
.rating {
  color: #fc8019;
  font-size: 12px;
}
.price {
  font-weight: 800;
  font-size: 12px;
}

.small {
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
}
.restaurantHolder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.textField {
  margin: 0px 0px 20px 0px;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  border:1px solid gray;
}

.menu {
  margin: 20px 0;
}
.menu ul {
  padding-left: 0;
  height: 400px;
  overflow-y: scroll;
}

.menu li {
  list-style: none;
  font-size: 14px;
}

.restaurantDetail {
  padding-top: 20px;
  padding-bottom: 40px;
}

.restaurantDetail h2 {
  margin-bottom: 10px;
}

.restaurantDetail img {
  width: 100%;
  max-width: 400px;
  filter: drop-shadow(3px 5px 6px #fc8019);
}

.info {
  display: flex;
  justify-content: flex-start;
}
.right{
  margin-left: 20px;
  max-width: auto;
  width: 100%;
}

.right span {
  font-weight: bold;
}
