.wrap{
    display: flex;
    align-items: center;
    padding: 20px;
}
.header{
    background-color: #fc8019;
    margin-bottom: 2%;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: start;
}

.menu li{
    margin-right: 10px;
    list-style: none;
    color: white;
}
.menu a {
    cursor: pointer;
    text-decoration: none;
}

.logo{
    width: 100%;
    max-width: 80px;
    height: auto;
}